@import '../../Global.Mixins.scss';
@import '../../Global.Colors.scss';
.container-login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ebeeef;
    width: 100%;
    min-height: 100vh;

    .container-login-wrap{    
        width: 670px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }
    .container-login-title{
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 35px;
        color: #fff;
        text-transform: uppercase;
        line-height: 1.2;
        font-family: Poppins-Bold;
        background-size: cover;
        background-position: center;
        padding: 70px 15px 74px 15px;
        background-image: url('../../assets/images/landing-page-library.jpg');
    }
    .login-form{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        padding: 50px;
        
        .input-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            width:75%;
            
           .log-in-button{
                margin-top: 15px;
            }
        }
        .option-container{
            display:flex;
            justify-content: space-between;
            align-items: center;
            width:75%;
        }
    }
}


@media screen and (max-width: 650px) {    
    .input-container{
        flex-direction: column !important;
    }
    .option-container{
        display:flex;
        flex-direction: column;
    }
}