.container-error-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height:100vh;
    background-color:  #ebeeef;
    text-align: center;
    padding-bottom: 400px;
}