@import '../../Global.Mixins.scss';
@import '../../Global.Colors.scss';
.container-login-form{
    @include flexCenter(column);
    align-items: center;
    align-content: center;
    & .login-form{
        @include flexCenter(column);
        align-items: center;
        height:30vh;
    }

}