.genre-items-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin:20px 10px;
    border: 2px solid rgb(98, 98, 241);
}
.genre-item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 18px;
}
