@import '../../Global.Colors.scss';

.header-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
    background-color: $cyber;
}
.options-container{
    display: flex;
    width:20vh;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}



