@import '../../Global.Colors.scss';

.header-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-right: 2px solid #ebeeef;
    border-bottom: 2px solid #ebeeef;
    margin-bottom: 5px;
    .warning{
        text-align: center;
    }
    .profile-menu-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 15px;
    
    }
}
