.genre-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:15px;
    border: 2px solid rgb(98, 98, 241);
}
.genre-list-title{
    font-family: cursive;
    font-size: 35px;
}
.genre-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}