.container-homepage-wrap{
    display: flex;
    justify-content: center;

    .container-homepage{   
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        
        .container-homepage-body{
            width: 100%;
            border-left:10px solid #ebeeef;
            margin-right:5px;
        }
       
    }
}