//Variables below hold the general tone of the website
$cyber: #ffd300;
$white: #ffffff;
$lightBlue: #8bd0fb;
$lightBrown: #988484;
$Title : 'Huddle';

//Fonts retrieved from GoogleFonts
/*
Web-App Title Huddle = Indie Flower
Regular font = Roboto

*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&display=swap');
